/.vs/Aurus Engine/FileContentIndex/02278d1e-7479-4075-be77-f15939862dcd.vsidx
/.vs/Aurus Engine/FileContentIndex/35360a5a-ee31-4782-a568-49a8b3ce845f.vsidx
/.vs/Aurus Engine/FileContentIndex/547338d1-8594-4291-9807-3adc5f85e83d.vsidx
/.vs/Aurus Engine/FileContentIndex/6051484a-fb11-4650-b4bc-991b56097b8c.vsidx
/.vs/Aurus Engine/FileContentIndex/70462838-3455-4013-b5b3-eab2ed5505af.vsidx
/.vs/Aurus Engine/FileContentIndex/97f072f7-34b6-4542-970d-6bc9346a2fa4.vsidx
/.vs/Aurus Engine/FileContentIndex/a4537ea4-3eb4-4368-bb07-8756b25858fb.vsidx
/.vs/Aurus Engine/v17/.suo
/.vs/Aurus Engine/v17/Browse.VC.db
/.vs/Aurus Engine/v17/ipch/AutoPCH/1ae016e9797dacbd/GRAPHICS.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/7cb7027226c48637/MAPHANDLER.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/a060990de1a5aec8/MAIN.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/a302a712e7a4757e/AURUSSCRIPT.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/b03370e21cbc4f73/BATTLEHANDLER.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/bb1f492de10197d5/GRAPHICS.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/ddcb002ef2a19982/DIALOGUE.ipch
/.vs/Aurus Engine/v17/ipch/AutoPCH/ef01e25cad4b314d/CHARHANDLER.ipch
/.vs/AurusEngine/FileContentIndex/167b961a-86e4-48c6-a519-d0ea57c90430.vsidx
/.vs/AurusEngine/FileContentIndex/468d35e1-c2fa-41ae-a0fe-89adcf05bd4a.vsidx
/.vs/AurusEngine/FileContentIndex/74d93b3f-6b13-4624-99f6-a0f5ad3da468.vsidx
/.vs/AurusEngine/FileContentIndex/d8093b47-46d1-49d4-b88e-d979879ac744.vsidx
/.vs/AurusEngine/FileContentIndex/e4e1d0df-8aa4-444a-afc7-554fb96ce1e3.vsidx
/.vs/AurusEngine/v17/.wsuo
/.vs/AurusEngine/v17/Browse.VC.db
/.vs/CMakeWorkspaceSettings.json
/.vs/Aurus Engine/FileContentIndex/6051484a-fb11-4650-b4bc-991b56097b8c.vsidx
/.vs/Aurus Engine/FileContentIndex/97f072f7-34b6-4542-970d-6bc9346a2fa4.vsidx
/.vs/Aurus Engine/v17/Browse.VC.db
/x64/Debug/Aurus Engine.exe
/x64/Debug/Aurus Engine.exe.recipe
/x64/Debug/Aurus Engine.ilk
/x64/Debug/Aurus Engine.log
/x64/Debug/Aurus Engine.pdb
/x64/Debug/Aurus Engine.tlog/Aurus Engine.lastbuildstate
/x64/Debug/Aurus Engine.tlog/CL.command.1.tlog
/x64/Debug/Aurus Engine.tlog/Cl.items.tlog
/x64/Debug/Aurus Engine.tlog/CL.read.1.tlog
/x64/Debug/Aurus Engine.tlog/CL.write.1.tlog
/x64/Debug/Aurus Engine.tlog/link.command.1.tlog
/x64/Debug/Aurus Engine.tlog/link.read.1.tlog
/x64/Debug/Aurus Engine.tlog/link.write.1.tlog
/x64/Debug/Aurus Engine.vcxproj.FileListAbsolute.txt
/x64/Debug/AurusScript.obj
/x64/Debug/battleGL.obj
/x64/Debug/battlehandler.obj
/x64/Debug/charhandler.obj
/x64/Debug/CMakeCCompilerId.obj
/x64/Debug/CMakeCXXCompilerId.obj
/x64/Debug/filehandler.obj
/x64/Debug/main.obj
/x64/Debug/maphandler.obj
/x64/Debug/skillhandler.obj
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/.vs/Aurus Engine/FileContentIndex/6051484a-fb11-4650-b4bc-991b56097b8c.vsidx
/.vs/Aurus Engine/FileContentIndex/1d459a20-c9b1-49e3-a927-65f1dd6052f3.vsidx
/.vs/Aurus Engine/FileContentIndex/400e7240-170d-4f74-8ea4-883646ebfdac.vsidx
/.vs/Aurus Engine/FileContentIndex/6051484a-fb11-4650-b4bc-991b56097b8c.vsidx
/.vs/Aurus Engine/FileContentIndex/97f072f7-34b6-4542-970d-6bc9346a2fa4.vsidx
/.vs/Aurus Engine/FileContentIndex/fcea84d3-b3e8-49d2-9f42-964abe94badf.vsidx
/.vs/Aurus Engine/FileContentIndex/fd405722-0f6c-4816-a096-599ba2559d6e.vsidx
/.vs/Aurus Engine/v17/Browse.VC.db
/.vs/Aurus Engine/v17/Browse.VC.db-shm
/.vs/Aurus Engine/v17/Browse.VC.db-wal
/.vs/Aurus Engine/v17/Browse.VC.opendb
/.vs/Aurus Engine/v17/ipch/AutoPCH/88ee2bdc7fb36c37/FILEHANDLER.ipch
/x64/Debug/Aurus Engine.exp
/x64/Debug/Aurus Engine.lib
/x64/Debug/Aurus Engine.tlog/link.read.2.tlog
/x64/Debug/Aurus Engine.tlog/link-cvtres.read.1.tlog
/x64/Debug/Aurus Engine.tlog/link-cvtres.write.1.tlog
/x64/Debug/Aurus Engine.tlog/link-rc.read.1.tlog
/x64/Debug/Aurus Engine.tlog/link-rc.write.1.tlog
/x64/Debug/Aurus Engine.tlog/unsuccessfulbuild
